<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>additionalRows</key>
			<integer>1</integer>
			<key>primaryTitle</key>
			<string>Basic 1</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
			<key>value</key>
			<string></string>
			<key>isVisible</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isExpandable</key>
			<true/>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Firstname</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<integer>1</integer>
			<key>primaryTitle</key>
			<string>Basic 2</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
			<key>value</key>
			<string></string>
			<key>isVisible</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isExpandable</key>
			<true/>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Firstname</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<integer>1</integer>
			<key>primaryTitle</key>
			<string>Basic 3</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
			<key>value</key>
			<string></string>
			<key>isVisible</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isExpandable</key>
			<true/>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Firstname</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<integer>1</integer>
			<key>primaryTitle</key>
			<string>Basic 4</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
			<key>value</key>
			<string></string>
			<key>isVisible</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isExpandable</key>
			<true/>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Firstname</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>additionalRows</key>
			<integer>1</integer>
			<key>primaryTitle</key>
			<string>HT3</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
			<key>value</key>
			<string></string>
			<key>isVisible</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isExpandable</key>
			<true/>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Firstname</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<integer>1</integer>
			<key>primaryTitle</key>
			<string>HT 1</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
			<key>value</key>
			<string></string>
			<key>isVisible</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isExpandable</key>
			<true/>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Firstname</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<integer>1</integer>
			<key>primaryTitle</key>
			<string>HT2</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
			<key>value</key>
			<string></string>
			<key>isVisible</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isExpandable</key>
			<true/>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Firstname</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>additionalRows</key>
			<integer>1</integer>
			<key>primaryTitle</key>
			<string>Power1</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
			<key>value</key>
			<string></string>
			<key>isVisible</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isExpandable</key>
			<true/>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Firstname</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<integer>1</integer>
			<key>primaryTitle</key>
			<string>Power2</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
			<key>value</key>
			<string></string>
			<key>isVisible</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isExpandable</key>
			<true/>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Firstname</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
		</dict>
		<dict>
			<key>additionalRows</key>
			<integer>1</integer>
			<key>primaryTitle</key>
			<string>Power3</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
			<key>value</key>
			<string></string>
			<key>isVisible</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isExpandable</key>
			<true/>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Firstname</string>
			<key>cellIdentifier</key>
			<string>StageCell</string>
		</dict>
	</array>
</array>
</plist>
